<!-- Contenido -->
<div class="content-wrapper">
    <!-- Título y botón de filtros -->

    <!-- Contenedor de filtros -->
    <!-- <div class="row g-3 mb-3">
        <div class="col-md-4">
            <label class="form-label fw-semibold" for="filtroFechaDesde">FECHA</label>
            <span class="input-group-text"><i class="bx bx-search"></i></span>
            <input type="date" class="form-control" id="filtroFechaDesde" placeholder="Ej: 8.5">
        </div>
    </div> -->

    <!-- <div class="col-md-4">
                 <label class="form-label fw-semibold" for="filtroFechaHasta">FECHA DESDE</label>
                 <div class="input-group">
                     <span class="input-group-text"><i class="bx bx-search"></i></span>
                    <input type="date" class="form-control" id="filtroFechaHasta" placeholder="Ej: 8.5">
               </div>
            </div> -->
</div>


<!-- Cards -->
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">

        <h5 class="card-header d-flex align-items-center justify-content-between fw-bold">
            <span class="d-flex align-items-center">
                <i class="bx bx-dumbbell fs-4 me-2"></i> Duracion Promedio de Actividades Por Persona
            </span>
        </h5>
        <!-- Tabla -->
        <div class="table-responsive text-nowrap mt-3">
            <table class="table" id="tablaActividadPorPersona">
                <thead class="table-light">
                    <tr>
                        <th>Promedio de duración de sus actividades</th>
                        <th>Promedio de calorías quemadas</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

</div>

<script src="../js/Fetch/Resultados/DuracionPromedioActividadPorPersona.js"></script>